.popup__content {
    display: flex;
    position: relative;
    flex-direction: column;
    /* justify-content: center; */
    /* max-width: 430px; */
    width: 430px;
    height: 330px;
    background-color: white;
    margin: 195px auto 0;
}

@media screen and (max-width: 320px) {
    .popup__content {
        max-width: 282px;
    }
}