.profile__button-edit-img {
    width: 10px;
    height: 10px;
}

@media screen and (max-width: 600px) {
    .profile__button-edit-img {
        width: 8px;
        height: 8px;
        /* text-align: center; */
    }
}