.popup-card__input-description-error {
    color: red;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    width: 358px;
    margin: 5px auto 0;
    position: absolute;
    left: 36px;
    top: 200px;
  }

  @media screen and (max-width: 600px) {
    .popup-card__input-description-error {
      width: 238px;
      left: 22px;
      top: 205px;
    }
  }