.header {
    margin: 45px auto 0;
    max-width: 880px;
    opacity: 0.7;
    border-bottom: 1px solid #545454;
    padding-bottom: 41px;
}

@media screen and (max-width: 600px) {
    .header {
        margin: 27px 0 0;
        padding-bottom: 32px;
    }
}