.popup-card__input {
    width: 358px;
    height: 14px;
    margin: 47px auto 0 34px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 12px;
}

.popup-card__input:last-of-type {
    margin: 30px auto 0 34px;  
}

@media screen and (max-width: 600px) {
    .popup-card__input {
        width: 238px;
        margin: 75px auto 0 20px;
    }

    .popup-card__input:last-of-type {
        margin: 30px auto 0 20px; 
    }
}