.profile__description {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
}


@media screen and (max-width: 600px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 5px;
    }
}