.profile__info {
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 24px;
    column-gap: 18px;
}


@media screen and (max-width: 600px) {
    .profile__info {
        margin-top: 22px;
        justify-content: center;
        margin-left: 30px;
        column-gap: 10px;
    }
}