.popup-update-avatar__container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 430px;
    min-height: 272px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    align-items: center;
  }

  /* @media screen and (max-width: 600px) {
    .popup-update-avatar__container {
        max-width: 282px;
        width: 282px;
        height: 322px;
    }
  } */