.profile__info-whraper {
    display: flex;
    position: relative;
    left: -26px;
}

@media screen and (max-width: 600px) {
    .profile__info-whraper {
        position: static;
        flex-direction: column;
        align-items: center;
    }
}