@import url(./__heart/element__heart.css);
@import url(./__img/element__img.css);
@import url(./__paragraph/element__paragraph.css);

.element {
    width: 282px;
    height: 361px;
    background-color: white;
    color: black;
    border-radius: 5px;
}

@media screen and (max-width: 320px) {
    .element {
        width: 282px;
        height: 361px;
    }
}