@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

@import url(../blocks/page/page.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/header/header.css);
@import url(../blocks/profile/profile.css);


@import url(../blocks/footer/__paragraph/footer__paragraph.css);

@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/profile/__button-add-img/profile__button-add-img.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__button-heart/profile__button-heart.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info-whraper/profile__info-whraper.css);
@import url(../blocks/profile/__conteiner/profile__conteiner.css);

@import url(../blocks/element/__heart/element__heart.css);
@import url(../blocks/element/__heart/_active/element__heart_active.css);
@import url(../blocks/element/__img/element__img.css);
@import url(../blocks/element/__paragraph/element__paragraph.css);
@import url(../blocks/element/__button/element__button.css);
@import url(../blocks/element/__trash-can/element__trash-can.css);
@import url(../blocks/element/__trash-can/_invisible/element__trash-can-invisible.css);

@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/header/__logo/header__logo.css);


@import url(../blocks/popup-card/__button-save/popup-card__button-save.css);
@import url(../blocks/popup-card/__close-icon/popup-card__close-icon.css);
@import url(../blocks/popup-card/__container/popup-card__container.css);
@import url(../blocks/popup-card/__form/popup-card__form.css);
@import url(../blocks/popup-card/__input/popup-card__input.css);
@import url(../blocks/popup-card/__title/popup-card__title.css);
@import url(../blocks/popup-card/popup-card.css);

@import url(../blocks/popup-card/__input-title-error/popup-card__input-title-error.css);
@import url(../blocks/popup-card/__input-description-error/popup-card__input-description-error.css);

@import url(../blocks/popup-image/__close-icon/popup-image__close-icon.css);
@import url(../blocks/popup-image/__container/popup-image__container.css);
@import url(../blocks/popup-image/__image/popup-image__image.css);
@import url(../blocks/popup-image/popup-image.css);
@import url(../blocks/popup-image/__description/popup-image__description.css);

@import url(../blocks/popup-profile/__button-save/popup-profile__button-save.css);
@import url(../blocks/popup-profile/__close-icon/popup-profile__close-icon.css);
@import url(../blocks/popup-profile/__container/popup-profile__container.css);
@import url(../blocks/popup-profile/__form/popup-profile__form.css);
@import url(../blocks/popup-profile/__input/popup-profile__input.css);
@import url(../blocks/popup-profile/__title/popup-profile__title.css);
@import url(../blocks/popup-profile/popup-profile.css);


@import url(../blocks/popup-profile/__input-title-error/popup-profile__input-title-error.css);
@import url(../blocks/popup-profile/__input-description-error/popup-profile__input-description-error.css);

@import url(../blocks/popup-confirmation/popup-confirmation.css);
@import url(../blocks/popup-confirmation/__button/popup-confirmation__button.css);
@import url(../blocks/popup-confirmation/__close-icon/popup-confirm__close-icon.css);
@import url(../blocks/popup-confirmation/__container/popup-confirmation__container.css);
@import url(../blocks/popup-confirmation/__p/popup-confirmation__p.css);

@import url(../blocks/popup-update-avatar/popup-update-avatar.css);
@import url(../blocks/popup-update-avatar/__container/popup-update-avatar__container.css);
@import url(../blocks/popup-update-avatar/__close-icon/popup-update-avatar__close-icon.css);
@import url(../blocks/popup-update-avatar/__p/popup-update-avatar__p.css);
@import url(../blocks/popup-update-avatar/__button/popup-update-avatar__button.css);
@import url(../blocks/popup-update-avatar/__input/popup-update-avatar__input.css);

@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__button/__button_disabled/popup__button_disabled.css);
@import url(../blocks/popup/__input/_type_error/popup__input_type_error.css);

@import url(../blocks/element/__counter-like/element__counter-likes.css);













/* span, input {
  outline: solid 1px red;
} */

/* section,
header,
footer,
img
 {
  outline: solid 1px red;
}


figure {
  outline: solid 1px yellow;
}

div,
p,
h1,
h2,
h3,
img,
nav {
  outline: solid 1px blue;
  margin: 0;
}

div,
p,
h1,
h2,
h3,
header,
footer,
nav {
  margin: 0;
  padding: 0;
} */