

  .popup-update-avatar__close-icon {
    position: absolute;
    height: 32px;
    width: 32px;
    top: -40px;
    right: -40px;
    background-image: url(../../../images/Close-Icon.svg);
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    cursor: pointer;
  }